NAVER_API_HUB_CLIENT_ID=
NAVER_API_HUB_CLIENT_SECRET=
KAKAO_REST_API_KEY=
TOUR_API_KEY=
REDTABLE_API_KEY=
TMDB_API_KEY=
SEOUL_OPENAPI_KEY=
SEOUL_TOUR_CSV_PATH=
FILMING_LOCATION_CSV_PATH=
DATABASE_URL=postgresql://postgres:changeme@localhost:5432/ddemachim
